/********************************************
---------------GLOBAL STYLES---------------
*********************************************/
.container section {
  padding-top: 300px;
  padding-bottom: 300px;
}

.landing {
  background: white;
  padding-top: 50px !important;
  padding-bottom: 400px !important;
}

.card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.3);
  transition: 0.4s;
  width: 1100px;
  margin-left: auto;
  margin-right: auto;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 30px 50px 0 rgba(0, 0, 0, 0.2);
}

.main-pic {
  width: 1100px;
  height: 650px;
  opacity: 0.92;
}

.wrapper {
  background: url("https://wallpaperaccess.com/full/1133458.jpg");
  color: #eee;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  perspective: 1000px;
  perspective-origin: 50% 50%;
  animation: animation 100s linear infinite;
}

/********************************************
---------------MAIN PAGE STYLES---------------
*********************************************/
@keyframes move_wave {
  0% {
    transform: translateX(0) translateZ(0) scaleY(1)
  }

  50% {
    transform: translateX(-25%) translateZ(0) scaleY(0.55)
  }

  100% {
    transform: translateX(-50%) translateZ(0) scaleY(1)
  }
}

.waveWrapper {
  overflow: hidden;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  margin: auto;
}

.waveWrapperInner {
  position: absolute;
  width: 100%;
  overflow: hidden;
  height: 100%;
  bottom: -1px;
  background-image: linear-gradient(to top, #86377b 20%, #27273c 80%);
}

.bgTop {
  z-index: 15;
  opacity: 0.5;
}

.bgMiddle {
  z-index: 10;
  opacity: 0.75;
}

.bgBottom {
  z-index: 5;
}

.wave {
  position: absolute;
  left: 0;
  width: 200%;
  height: 100%;
  background-repeat: repeat no-repeat;
  background-position: 0 bottom;
  transform-origin: center bottom;
}

.waveTop {
  background-size: 50% 100px;
}

.waveAnimation .waveTop {
  animation: move-wave 3s;
  -webkit-animation: move-wave 3s;
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
}

.waveMiddle {
  background-size: 50% 120px;
}

.waveAnimation .waveMiddle {
  animation: move_wave 10s linear infinite;
}

.waveBottom {
  background-size: 50% 100px;
}

.waveAnimation .waveBottom {
  animation: move_wave 15s linear infinite;
}

/********************************************
---------------LESSON 1 STYLES---------------
*********************************************/
.lesson1 {
  background: red;
}

/********************************************
---------------LESSON 2 STYLES---------------
*********************************************/
.lesson2 {
  background: yellow;
}

/********************************************
---------------LESSON 3 STYLES---------------
*********************************************/
.lesson3 {
  background: lightblue;
}

/********************************************
---------------LESSON 4 STYLES---------------
*********************************************/
.lesson4 {
  background: green;
}

/********************************************
---------------LESSON 5 STYLES---------------
*********************************************/
.lesson5 {
  background: purple;
}

/********************************************
---------------LESSON 6 STYLES---------------
*********************************************/
.lesson6 {
  background: orange;
}
